<div class="card">
  <div class="card-header">
    <h4>{{projectToDisplay?.title}}</h4>
    <h6>By:{{projectToDisplay?.owner}}</h6>
  </div>
  <div class="card-body">
    <p>{{projectToDisplay?.description}}</p>
    <p>Goal: ${{projectToDisplay?.goal}}</p>
    <p *ngIf="projectToDisplay?.swag">This Project comes with "free" stuff!</p>
    <p>Category: {{projectToDisplay?.category}}</p>
<div >
  <app-donate [childProjectToDisplay]="projectToDisplay" [childProjectId]="projectId"></app-donate>
</div>
